mixin responseImage(imageSrc)
    img.d-block.d-lg-none.w-100(src=`/images/mobile/${imageSrc}.svg`)
    img.d-none.d-lg-block.w-100(src=`/images/pc/${imageSrc}.svg`)

mixin carouselItem(title, contents, imageSrc, option)
    .carousel-item(class=option)
        .row
            .col-12.col-lg-8
                span.display-2.fw-bold.text-white= title
                p.text-white.opacity-50.mt-3.mb-5.mb-lg-0
                    each content in contents 
                        span.d-inline.d-lg-block.me-1.me-lg-0= content
            .col-12.col-lg-4.d-flex.justify-content-center.align-items-center
                img.d-none.d-lg-block(src=imageSrc)

mixin carouselInfo(texts)
    .col
        .border-start.border-3.border-gridone
            span.d-block.fw-bold.fs-4.ps-3.text-white
                each text in texts
                    span.d-block= text

mixin patentTab(id, title, target, option)
    li.nav-item
        a.nav-link(
            id=id,
            class=option,
            data-bs-toggle="tab",
            data-bs-target=`#${target}`,
            type="button",
            role="tab"
        )= title

mixin patentImage(imageSrc, title, info)
    .patentImage.position-relative.mb-4
        img.ratio.ratio-9x16(src=imageSrc)
        .patentInfo.mt-4
            span.blank
            span.patentTitle.text-center.fw-bold
                each text in title
                    span.d-block= text
            span.patentInfo.text-center.fs-7
                each text in info
                    span.d-block= text

mixin patentTabContent(count, id, option)
    .tab-pane.fade(id=id, class=option, role="tabpanel")
        .row.row-cols-2.row-cols-lg-5
            - for (let x = 0; x < count; x++)
                +patentImage("/images/aistory/patent.png", ["딥러닝 기반 오류분류 방법"], ["특허청", "(2019)"])

mixin aitechItem(title, content)
    .col
        span.fs-3.fw-bold= title
        p.text-muted= content

mixin serviceItem(icon, title, contents)
    .col
        span.bg-gridone.p-2.rounded-2
            i.bi.text-white(class=`bi-${icon}`)
        span.d-block.fs-2.mt-2.fw-bold= title
        p.text-dark.fw-bold.opacity-50.mt-2
            each content in contents
                span.d-inline.d-lg-block.me-1.me-lg-0= content

mixin videoItem(imageSrc, title, content)
    .col
        .hoverImage.mb-4 
            .ratio.ratio-16x9
                img.w-100.h-auto(src=`/images/thumbnail/${imageSrc}.png`)
                .hoverBg.display-2.text-white
                    i.bi.bi-play-fill
            span.d-block.mt-3.fw-bold= title
            p.text-dark.opacity-50.mb-0= content

mixin solutionItem(category, title, titleFull, contents)
    .container
        .row
            .col-12.col-lg-8
                span.shortLine.mb-2
                    case category
                        when "aida"
                            span.fw-bold.text-white 문서처리 솔루션
                        default
                            span.fw-bold.text-white 카테고리 없음
                #solution-icon.mt-5
                    case category 
                        when "aida"
                            +logoAida("solution-logo")
                        default
                            +logoHypai("navbar-logo")
                #solution-name
                    span.display-2.fw-bold.text-white.d-block= title
                    span.fs-4.text-white.opacity-50= titleFull
                p.text-white.mt-4.mb-5
                    each content in contents
                        span.d-inline.d-lg-block.me-1.me-lg-0= content
                .more-icons
                    button.btn.btn-outline-hypai.btn-icons.border-3.me-3
                        img.me-2(src="/images/logo-youtube.png")
                        span.text-white 작동 영상 확인하기
                    button.btn.btn-hypai.border-3
                        span.text-white 체험판 이용하기
            .col-12.col-lg-4.d-flex.justify-content-center.align-items-center
                case category
                    when "aida"
                        img.d-none.d-lg-block(src="/images/main-document.svg")
                    default
                        img.d-none.d-lg-block(src="/images/main-document.svg")
    a.scrollNext.up-down.text-white(href="#")
        i.bi.bi-arrow-down-circle.fs-3
        span 자세히 보기
