mixin logoHypai(option)
    svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 66.049 24", class=option)
        path(
            d="M14.5.36v17.9H10.891V10.64H3.63v7.623H0V.36H3.63v7.1h7.26V.36Z",
            transform="translate(0 -0.104)",
            fill="#fff"
        )
        path(
            d="M37.456,7.2,29.762,26.637H24.185V23.568H27.46l1.229-3.126L23.29,7.2h3.552l3.6,8.823L33.932,7.2Z",
            transform="translate(-7.215 -2.637)",
            fill="#fff"
        )
        path(
            d="M58.429,6.37a5.906,5.906,0,0,1-6.216,6.01H49.372v5.882H45.72V.36h6.493A5.9,5.9,0,0,1,58.429,6.37Zm-3.374,0a2.607,2.607,0,0,0-2.842-2.735H49.372v5.47h2.842A2.607,2.607,0,0,0,55.055,6.37Z",
            transform="translate(-14.139 -0.104)",
            fill="#fff"
        )
        path(
            d="M93.63.36v17.9H90V.36Z",
            transform="translate(-27.582 -0.104)",
            fill="#fff"
        )
        path(
            d="M71.835,0l-8.7,18.158H80.559ZM73.6,14.833H68.624L71.566,8.61l.242-.533h0l3.311,6.756Z",
            transform="translate(-19.803)",
            fill="#fff"
        )

mixin logoGridone(option)
    svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 416.76 103.81", class=option)
        defs
            style.
                .cls-1 {
                    fill: #040000;
                }
                .cls-2 {
                    fill: #f08300;
                }
        path.cls-1(
            d="M53.7 13.22H0v53.7l27.34 27.34H81v-53.7Zm1.17 4L77 39.38H54.87Zm-2-2v24.16h-25.3L3.41 15.23ZM28.16 41.39h24.71v24.7H28.16Zm-2 48.85L4 68.09h22.15Zm0-24.15H2V16.65L26.15 40.8Zm2 26.17V68.09h25.3l24.16 24.16H28.18ZM79 90.85 54.87 66.68V41.39H79Z"
        )
        path.cls-2(d="M28.16 41.39h24.71V66.1H28.16z")
        path.cls-1(
            d="m105.27 95.87 7.3-10.67q6 6.61 13.5 6.62a17.14 17.14 0 0 0 8.22-1.76q3.24-1.74 3.24-4.82 0-5.2-7.16-5.21a48.15 48.15 0 0 0-5.76.52 48.58 48.58 0 0 1-5.78.52q-11.91 0-11.9-10.06a9.65 9.65 0 0 1 2-5.66 12.77 12.77 0 0 1 4.62-4.08q-8.46-6.47-8.46-18.35a21.64 21.64 0 0 1 5.83-15.5 19 19 0 0 1 14.34-6.12 19.92 19.92 0 0 1 11.14 2.94l4.5-6.24 8 8.58-5.56 4.76a24.32 24.32 0 0 1 2.87 12.11q0 10-5.15 15.94a16.42 16.42 0 0 1-13 6 24.37 24.37 0 0 1-3.32-.3l-1.9-.34a10.83 10.83 0 0 0-2.43 1.18c-1.41.79-2.12 1.59-2.12 2.44 0 1.46 1.07 2.19 3.19 2.19a23.43 23.43 0 0 0 4.8-.83 24.86 24.86 0 0 1 5.77-.82q16.84 0 16.85 16a16.41 16.41 0 0 1-6.75 13.9 26.42 26.42 0 0 1-16.29 5 30.74 30.74 0 0 1-20.59-7.94ZM116.85 43a13.27 13.27 0 0 0 2.4 8.3 7.75 7.75 0 0 0 6.49 3.13 7.29 7.29 0 0 0 6.28-3c1.47-2 2.2-4.82 2.2-8.38a11.78 11.78 0 0 0-2.36-7.44 7.38 7.38 0 0 0-6.12-3.05 8 8 0 0 0-6.42 2.94 11.31 11.31 0 0 0-2.47 7.5ZM182.09 35.36a10.59 10.59 0 0 0-6.78-2.48c-2.68 0-5.05 1.44-7.13 4.3a17.37 17.37 0 0 0-3.12 10.5v33.18h-11.57V22.54h11.57v5.38a15.34 15.34 0 0 1 12.88-6.41c3.94 0 6.95.71 9.05 2.13ZM196.2 80.86V33.71h-6.41V22.54h18v58.32ZM202.1 0a6 6 0 0 1 4.74 2.3 8.25 8.25 0 0 1 2 5.56 8.21 8.21 0 0 1-2 5.55 6 6 0 0 1-9.5 0 8.25 8.25 0 0 1-2-5.55 8.29 8.29 0 0 1 2-5.56A6.08 6.08 0 0 1 202.1 0ZM247.92 80.86v-3.55a11.23 11.23 0 0 1-4.86 3.22 18.82 18.82 0 0 1-7.06 1.36q-10.33 0-16.27-7.71t-5.93-21.53q0-13.8 6.8-22.47c4.55-5.78 10.22-8.68 17.07-8.68a19.81 19.81 0 0 1 10.25 2.74V.79l11.57.21v79.86Zm0-44.31a11.24 11.24 0 0 0-7.72-3.46q-6.94 0-10.67 4.95t-3.74 14.2q0 18.08 14.87 18.07a9.82 9.82 0 0 0 4.09-1.16 7.52 7.52 0 0 0 3.17-2.36Z"
        )
        path.cls-2(
            d="M264.92 51.56q0-13.32 6.54-21.68a20.85 20.85 0 0 1 17.27-8.38q11.26 0 17.51 8.06t6.24 22q0 13.92-6.35 22.13t-17.4 8.2q-11.3 0-17.55-8.28t-6.26-22Zm12 0q0 19.17 11.82 19.17a9.74 9.74 0 0 0 8.58-5q3.18-5 3.18-14.19 0-18.9-11.76-18.89a9.8 9.8 0 0 0-8.62 5q-3.19 5-3.2 13.91ZM350.43 80.86V47.18q0-7.44-2.42-10.87c-1.61-2.29-4.26-3.43-7.92-3.43a10.77 10.77 0 0 0-5.42 1.69 13.11 13.11 0 0 0-4.51 4.18v42.11h-11.57V22.54h8.32L329 28q4.71-6.48 13.92-6.48 8.84 0 13.94 6.23T362 45.12v35.74ZM415.78 55.84h-35.42q.31 7 4.06 10.82t10.06 3.86c5.26 0 9.27-1.58 12-4.76L411 76.1q-6.09 5.79-18.16 5.79-11.31 0-17.87-7.8t-6.56-21.77q0-13.74 7.22-22.28T393 21.5q10.77 0 17.29 7.56t6.52 19.22a44.17 44.17 0 0 1-1 7.56ZM381 45.5h24.19q-1.2-12.61-12-12.62-9.84 0-12.23 12.62Z"
        )
